################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/obj
/FileManagerService/obj/Release
/FIM/obj
/Manager/obj
